.gaming-board {
    -fx-padding: 16px 16px 16px 16px;
}

.dot-button {
    -fx-background-radius: 5em;
    -fx-min-width: 16px;
    -fx-min-height: 16px;
    -fx-max-width: 16px;
    -fx-max-height: 16px;
    -fx-background-color: lightpink
}

.dot-button:selected {
    -fx-background-color: coral;
}

.box-panel {
    -fx-min-width: 56px;
    -fx-min-height: 56px;
    -fx-max-width: 56px;
    -fx-max-height: 56px;
    /*-fx-background-color: beige;*/
}

.edge-h-panel {
    -fx-background-radius: 5em;
    -fx-min-width: 56px;
    -fx-min-height: 16px;
    -fx-max-width: 56px;
    -fx-max-height: 16px;
    -fx-background-color: khaki;
}

.edge-v-panel {
    -fx-background-radius: 5em;
    -fx-min-width: 16px;
    -fx-min-height: 56px;
    -fx-max-width: 16px;
    -fx-max-height: 56px;
    -fx-background-color: aqua;
}

.edge-h-panel:disabled,
.edge-v-panel:disabled {
    -fx-background-color: #0d4055;
}